body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* To disable scrolling */
    color: white;
}

.container {
    position: relative;
    height: 100%;
}

#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}
#win-btn {
    background-color: rgba(90, 255, 0, 0.50); /* see-through bright green */
    color: white; /* white text */
    font-size: 2em; /* make text larger */
    padding: 20px 40px; /* increase button size */
    border: none; /* remove border */
    cursor: pointer; /* change cursor on hover */
    border-radius: 10px; /* rounded corners */
    transition: background-color 0.3s ease; /* transition effect */
    position: absolute;
    top: 60%;
    left: 45%;
    font-family: 'Della Respira', serif;
}

#win-btn:hover {
  background-color: rgba(0, 255, 0, 0.8); /* darker green on hover */
}

.hidden {
    display: none;
}

#congrats-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.achievement-box {
    width: 5px;
    height: 5px;
    background-color: green;
}

.white-icon {
    color: white;
}

#lineContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 10px;
}

.line {
    width: 0px;
    height: 10px; /* Adjust the height as needed */
    background-color: #fff; /* Adjust the color as needed */
    position: relative; /* Added */
    margin-bottom: 100px;
    z-index: -999;
}
